// ABSTRACT
@use '../abstracts/colors' as *;
@use '../abstracts/breakpoints' as *;

// BASE
@use '../base/resets' as *;
@use '../base/typography' as *;

@use '../components/main-bg-img' as *;

#how-our-app-works-section {
    text-align: center;
    padding: 100px 250px;
    color: $white;
    height: 100%;

    .how-our-app-works-title {
        font-weight: map-get($font-weight, "thin");
    }

    .how-our-app-works-sub-title {
        font-weight: map-get($font-weight, "bold");
    }

    .how-our-app-works-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 50px;
        column-gap: 20px;

        .how-our-app-works-item {
            margin-bottom: 40px;

            .how-our-app-works-img {
                max-width: 50px;
                height: 50px;
            }

            .how-our-app-works-item-title {
                font-size: 20px;
                margin-top: 10px;
                font-weight: map-get($font-weight, "bold");
            }

            .how-our-app-works-item-p {
                font-size: 14px;
                margin-top: 15px;
                font-weight: map-get($font-weight, "light");
            }
        }
    }
}

@include desktop {
    #how-our-app-works-section {
        padding: 100px 150px;
    }
}

@include laptop {
    #how-our-app-works-section {
        padding: 100px 100px;
    }
}

@include tablet {
    #how-our-app-works-section {
        padding: 100px 50px;

        .how-our-app-works-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include mobile {
    #how-our-app-works-section {
        padding: 100px 50px;

        .how-our-app-works-title,
        .how-our-app-works-sub-title {
            font-size: 30px;
        }

        .how-our-app-works-container {
            grid-template-columns: 1fr;

            .how-our-app-works-item {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}